<a href="https://colab.research.google.com/github/Akhil-Krishnan/Python-with-MongDB/blob/master/Akhil's_MongoDB_With_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Academy
[https://datascience.one](https://datascience.one)

In [1]:
import pymongo

In [2]:
#!pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/90/49/cb426577c28ca3e35332815b795a99e467523843fc83cc85ca0d6be2515a/dnspython-2.0.0-py3-none-any.whl (208kB)
     |████████████████████████████████| 215kB 3.3MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.0.0

In [ ]:
#pip install pymongo[srv]

In [ ]:
#client = pymongo.MongoClient("mongodb+srv://dsauser01:9nw1MTNCa1yyYhm1@cluster0.may9g.mongodb.net/<dbname>?retryWrites=true&w=majority")

In [4]:
client = pymongo.MongoClient("mongodb+srv://dbuser:UUnodsSJBREE67Le@cluster0.dceum.mongodb.net/mydb?retryWrites=true&w=majority")
#db = client.test

#### Check if Database Exists

In [5]:
dblist = client.list_database_names()

In [6]:
dblist

['mydb', 'admin', 'local']

In [7]:

mydbvar = client["mydb"]
mycolvar = mydbvar["mycol"]
mydictvar = { "name": "John", "address": "Highway 37" }

x = mycolvar.insert_one(mydictvar)

In [8]:
?mycolvar.insert_one

#### Insert  Many

In [9]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycolvar.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5f1bdaffca5eda45b738b1d5'), ObjectId('5f1bdaffca5eda45b738b1d6'), ObjectId('5f1bdaffca5eda45b738b1d7'), ObjectId('5f1bdaffca5eda45b738b1d8'), ObjectId('5f1bdaffca5eda45b738b1d9'), ObjectId('5f1bdaffca5eda45b738b1da'), ObjectId('5f1bdaffca5eda45b738b1db'), ObjectId('5f1bdaffca5eda45b738b1dc'), ObjectId('5f1bdaffca5eda45b738b1dd'), ObjectId('5f1bdaffca5eda45b738b1de'), ObjectId('5f1bdaffca5eda45b738b1df'), ObjectId('5f1bdaffca5eda45b738b1e0')]

#### Select Data From A Collection
Two Methods were used:
- find_one()
- find()

#### Display single record from database

In [11]:
x = mycolvar.find_one()

print(x)

{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}

#### Display all the records from a database

In [12]:
for x in mycolvar.find():
  print(x)

{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1db'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1de'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1df'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Return Only Some Fields

In [13]:
for x in mycolvar.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

#### Filter the Result

When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [14]:
myquery = { "address": "Park Lane 38" }

mydoc = mycolvar.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [15]:

myquery = { "address": { "$regex": "^S" } }

mydoc = mycolvar.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Sort the Result

- sort("name", 1) #ascending
- sort("name", -1) #descending

In [16]:
mydoc = mycolvar.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1df'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1db'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1de'), 'name': 'William', 'address': 'Central st 954'}

In [17]:
mydoc = mycolvar.find().sort("name",-1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdaffca5eda45b738b1de'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1db'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1df'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}

In [19]:
myquery = { "address": "Mountain 21" }

mycolvar.delete_one(myquery)

# **Return only some fields**

In [25]:
for x in mycolvar.find({},{ "_id": 0, "name": 1}):
  print(x)

{'name': 'John'}
{'name': 'Amy'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

#### Delete All Documents in a Collection

To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [ ]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

12  documents deleted.

#### Update Record

You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.The second parameter is an object defining the new values of the document.

In [26]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycolvar.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycolvar.find():
  print(x)

{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1db'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1de'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1df'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Update Many

To update all documents that meets the criteria of the query, use the update_many() method.

In [28]:

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycolvar.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

## **Update using ObjectID**

In [31]:
from bson.objectid import ObjectId
myquery = { "_id": ObjectId('5f1bdaffca5eda45b738b1e0') }
newvalues = { "$set": { "name": "Akhil" } }

mycolvar.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycolvar.find():
  print(x)

{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1da'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1db'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1dd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1de'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1df'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1e0'), 'name': 'Akhil', 'address': 'Sideway 1633'}

#### Limit the Result

To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

In [29]:
myresult = mycolvar.find().limit(5)


for x in myresult:
  print(x)

{'_id': ObjectId('5f1bda95ca5eda45b738b1d4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d7'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdaffca5eda45b738b1d9'), 'name': 'Betty', 'address': 'Green Grass 1'}